.text-chambray { color: #3d4998 }
.bg-chambray { background-color: #3d4998 }
.text-blue-50 { color: #b3e4f9 }
.bg-blue-50 { background-color: #b3e4f9 }
.text-pink-50 { color: #ff3182 }
.bg-pink-50 { background-color: #ff3182 }

.flashing {
    animation: flash 1s infinite;
}

@keyframes flash {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.swal-modal {
    width: 600px;
}

.swal-title {
    color: #3d4998;
}

.swal-text {
    padding: 0 20px;
}
